<launch>
	<node name="motorcontrol_front" pkg="skupar" type="MotorPID.py" respawn="true">
		<param name="name" value="front"/>
		<param name="USB" value="/dev/serial/by-path/pci-0000:00:14.0-usb-0:1:1.0"/>
		<param name="qppsM1" value="2230"/>
		<param name="qppsM2" value="2260"/>
    	</node>
	<node name="motorcontrol_rear" pkg="skupar" type="MotorPID.py" respawn="true">
		<param name="name" value="rear"/>
		<param name="USB" value="/dev/serial/by-path/pci-0000:00:14.0-usb-0:2:1.0"/>
		<param name="qppsM1" value="2280"/>
		<param name="qppsM2" value="2250"/>
    	</node>
	
	<node name="joystick" pkg="joy" type="joy_node" respawn="true">	
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>
</launch>
